version: 2
jobs:
  build:
    macos:
      xcode: "11.0.0"
    environment:
      HOSTCURL: ~/project/docs/test/hostcurl.sh
    steps:
    - checkout

    - run:
        name: macOS Docker setup
        command: ./.circleci/macos_circle_vm_setup.sh

    - run:
        name: GSG test
        command: |
          #export HOSTCURL="$(pwd)/docs/test/hostcurl.sh"
          pwd
          ls ~
          ls ~/project
          ls ~/project/docs
          echo $HOSTCURL
          ls $HOSTCURL
          DEBUG=clitest:output,clitest:commands markdown-clitest docs/getting_started

    - run:
        name: gcloud setup
        command: ./.circleci/macos_gcloud_setup.sh

    - run:
        name: GKE doc test
        command: ./macos_gke_test.sh
        environment:
          MYPROJECTID: adapt-testing

    - run:
        name: GKE cleanup
        command: ./macos_gke_cleanup.sh
        when: always
        environment:
          MYPROJECTID: adapt-testing
