version: 2
jobs:
  build:
    macos:
      xcode: "11.0.0"
    # working_directory: ~/repo
    steps:
    # - attach_workspace:
    #     at: ~/
    - restore_cache:
        keys:
        - homebrew-macos-v14
    - run:
        command: pwd && ls -a && ls -a *
    - run:
        command: ./.circleci/macos_circle_vm_setup.sh
        name: macOS Docker setup
    - save_cache:
        key: homebrew-macos-v14
        paths:
        - /usr/local/Homebrew
        - /usr/local/Cellar
        - ~/Library/Caches/Homebrew
    - run:
        command: docker info
        name: Docker info

